/node_modules
/public/hot
/public/storage
/public/uploads
/storage/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/dev.sh
/note.txt
/push.sh
.DS_Store
.phpunit.database.checkum
.zed
