name: Laravel

on:
  push:
    branches: [ prod ]
  pull_request:
    branches: [ prod ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - name: Deploy to production
      uses: appleboy/ssh-action@master
      with:
         host: ${{ secrets.SSH_HOST_DEV }}
         username: ${{ secrets.SSH_USERNAME_DEV }}
         key: ${{ secrets.SSH_PRIVATE_KEY_DEV }}
         port: ${{ secrets.SSH_PORT_DEV }}
         script: |
          cd /home/sales.official-jsr.com/public_html
          git stash
          git pull origin prod
          sudo update-alternatives --set php /usr/bin/php8.0
          php artisan migrate
          php artisan optimize:clear
          sudo chmod 777 -R storage
          sudo chmod 777 -R bootstrap/cache
       
